/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    combos {
        compatible = "zmk,combos";

        toggle_utility {
            bindings = <&mo 4>;
            key-positions = <31 34>;
        };

        toggle_osrs_quick_keys {
            bindings = <&tog 3>;
            key-positions = <11 12 13>;
        };

        two_finger_tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        two_finger_escape {
            bindings = <&kp ESCAPE>;
            key-positions = <11 12>;
        };
    };

    macros {
        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C)>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(V)>;
            label = "PASTE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
  &kp APOS  &kp COMMA  &kp DOT       &kp P  &kp Y        &kp F                 &kp G  &kp C          &kp R  &kp L
  &kp A     &kp O      &kp E         &kp U  &kp I        &kp D                 &kp H  &kp T          &kp N  &kp S
  &kp SEMI  &kp Q      &kp J         &kp K  &kp X        &kp B                 &kp M  &kp W          &kp V  &kp Z
                       &kp LEFT_GUI  &mo 1  &kp SPACE    &mt LEFT_SHIFT ENTER  &mo 2  &kp BACKSPACE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &kp N1     &kp N2  &kp N3    &kp N4     &kp N5    &kp N6         &kp N7          &kp N8        &kp N9          &kp N0
  &kp LSHFT  &none   &kp LALT  &kp LCTRL  &none     &kp PIPE       &kp QUESTION    &none         &kp SLASH       &none
  &none      &none   &copy     &paste     &none     &kp BACKSLASH  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
                     &trans    &trans     &trans    &trans         &kp DEL         &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &none  &none  &none   &kp AT      &none     &kp ASTRK    &kp CARET  &kp LBKT              &kp PLUS   &kp RBKT
  &none  &none  &none   &kp GRAVE   &trans    &kp AMPS     &kp HASH   &kp LEFT_PARENTHESIS  &kp MINUS  &kp RIGHT_PARENTHESIS
  &none  &none  &none   &kp DOLLAR  &none     &kp PERCENT  &kp EXCL   &kp LEFT_BRACE        &kp UNDER  &kp RIGHT_BRACE
                &trans  &trans      &trans    &trans       &trans     &trans
            >;
        };

        osrs_quick_keys {
            bindings = <
  &kp N1  &kp N2  &kp N3     &kp N4     &kp N5    &trans  &trans  &trans  &trans  &trans
  &kp F1  &kp F2  &kp F3     &kp F4     &kp F5    &trans  &trans  &trans  &trans  &trans
  &kp N6  &kp N7  &kp N8     &kp N9     &kp N0    &trans  &trans  &trans  &trans  &trans
                  &kp LCTRL  &kp LSHFT  &trans    &trans  &trans  &trans
            >;
        };

        utility {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5
  &trans  &trans  &trans  &trans  &trans    &kp F6   &kp F7   &kp F8   &kp F9   &kp F10
  &trans  &trans  &trans  &trans  &trans    &kp F11  &kp F12  &kp F13  &kp F14  &kp F15
                  &trans  &trans  &trans    &trans   &trans   &trans
            >;
        };
    };
};
